@model int

<div class="form-group family-member-form mt-3">
    <label for="FamilyMember_@Model">Family Member @Model Name</label>
    <input type="text" class="form-control" id="FamilyMember_@Model" name="FamilyMemberNames[]" required>
</div>