@model int

<form>
    <div class="fs-5">
        Member @Model
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Dietary Restrictions</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="nuts" id="allergyNuts">
                <label class="form-check-label" for="allergyNuts">
                    Carnivore
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="nuts" id="allergyNuts">
                <label class="form-check-label" for="allergyNuts">
                    Gluten-Free
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="dairy" id="allergyDairy">
                <label class="form-check-label" for="allergyDairy">
                    Nut-Free
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="gluten" id="allergyGluten">
                <label class="form-check-label" for="allergyGluten">
                    Shellfish-Free
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="soy" id="allergySoy">
                <label class="form-check-label" for="allergySoy">
                    Vegan
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="shellfish" id="allergyShellfish">
                <label class="form-check-label" for="allergyShellfish">
                    Vegetarian
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Diet Goals</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="muscle-gain" id="goalMuscleGain">
                <label class="form-check-label" for="goalMuscleGain">
                    Improve Overall Health
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="weight-loss" id="goalWeightLoss">
                <label class="form-check-label" for="goalWeightLoss">
                    Increase Energy
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="maintain-weight" id="goalMaintainWeight">
                <label class="form-check-label" for="goalMaintainWeight">
                    Maintain Weight
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="improve-health" id="goalImproveHealth">
                <label class="form-check-label" for="goalImproveHealth">
                    Mental Clarity
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="increase-energy" id="goalIncreaseEnergy">
                <label class="form-check-label" for="goalIncreaseEnergy">
                    Muscle Gain
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="increase-energy" id="goalIncreaseEnergy">
                <label class="form-check-label" for="goalIncreaseEnergy">
                    Weight Loss
                </label>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">Cuisines</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="vegetarian" id="prefVegetarian">
                <label class="form-check-label" for="prefVegetarian">
                    American
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="vegan" id="prefVegan">
                <label class="form-check-label" for="prefVegan">
                    Asian
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="pescatarian" id="prefPescatarian">
                <label class="form-check-label" for="prefPescatarian">
                    Barbecue
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="keto" id="prefKeto">
                <label class="form-check-label" for="prefKeto">
                    Italian
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="paleo" id="prefPaleo">
                <label class="form-check-label" for="prefPaleo">
                    Mexican
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="paleo" id="prefPaleo">
                <label class="form-check-label" for="prefPaleo">
                    Sweets & Desserts
                </label>
            </div>
        </div>
    </div>
</form>
