@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>I see this page being more of an about page, describing clearly what this website does for folks.</h2>
</div>

@section Scripts {
    <script>
        const offset = new Date().getTimezoneOffset() / 60 * -1
        console.log(offset)
        console.log("hope your day is going well G! <3")
    </script>
}