@{
    ViewData["Title"] = "Home";
}

<style>
    .note {
        background-color: #e7f1ff;
        border-left: 4px solid #0d6efd;
        padding: 15px;
        margin-bottom: 20px;
        margin-top: 40px;
        color: #2c3e50;
    }
</style>

<div class="container">
    <div class="fs-1 text-center">Welcome to Chefster!</div>
    <hr>
    <div class="fs-3 note">What is Chefster?</div>
    <div class="fs-4 ps-3">
        Chefster is an email service that sends you weekly recipes that fit your family's dietary wants and needs.
        It takes into consideration any allergies, dietary restrictions, desired outcomes of your diet, and your favorite cuisines when creating your recipes.
        Each week, the email will contain unique recipes with full instructions and an ingredients list.
        Conveniently, there will also be a grocery list for the week in each email.
    </div>
    <div class="fs-3 note">Our Mission</div>
    <div class="fs-4 ps-3">
        The goal of Chefster is to reduce time spent deciding what to cook and what ingredients you need from the store.
        We hope that you find Chefster to be a service that is convenient and a time saver!
    </div>
    <div class="hstack gap-3 justify-content-center mt-5">
        @if (User.Identity != null && !User.Identity.IsAuthenticated)
        {
            <form asp-controller="Account" asp-action="SignUp">
                <button class="btn btn-outline-primary fs-4 px-3" type="submit">Sign Up</button>
            </form>
            <div class="vr mx-2"></div>
            <form class="me-2" asp-controller="Account" asp-action="LogIn">
                <button class="btn btn-outline-secondary fs-4 px-3" type="submit">Log In</button>
            </form>
        }
    </div>
</div>
