@{
    ViewData["Title"] = "Privacy Policy";
}

<p>This page will probably be some statement about how we will use their email and phone number for communcation purposes.
    When looking in to Twilio (text messaging api), even just to test out the api you/your company needed a privacy page describing how you plan to use user's data if I remember correctly.
    May take this page out of the navbar but leave it in the footer?
</p>
