@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h2>This page should show the information that we have on the user such as:</h2>
    <ul>
        <li>Name</li>
        <li>Email</li>
        <li>Phone Number</li>
        <li>Family size (number of mouths)</li>
        <li>Selected day and time of weekly recipe generation</li>
        <li>A list of the family members, and each of their preferences, allergies, nutritional goals, dietary restrictions etc.</li>
        <li>Potentially the last 10 previous meals? with thumbs up or down for feedback purposes?</li>
    </ul>
    <h2>
        Users should be able to edit all fields except for email and phone number, submit changes, and update the information in the backend
    </h2>
</div>
